<div class = "main-content">
    <div class = "section-content section-content-p30">
        <div class = "container-fluid">
            <div class = "row">
                <div *ngFor = "let temp of products" class = "col-md-3">
                    <div class = "product-box">
                        <img src = "{{ temp.imageUrl }}" class = "img-responsive img-sizing">
                        <h1>{{temp.name}}</h1>
                        
                        <div class = "price">{{ temp.unitPrice | currency: 'INR'}}</div>
                        <a href = "#" class = "primary-btn">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>


<!-- 
<table class = "table">
    <thead class = "thead-dark">
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Unit in Stocks</th>
    </thead>

    <tbody>
        <tr *ngFor = "let tmp of products">
            <td class = "align-middle"><img src = "{{ tmp.imageUrl }}" height = "50"/></td>
            <td class = "align-middle">{{ tmp.name }}</td>
            <td class = "align-middle">{{  tmp.unitPrice | currency:'USD' }}</td>
            <td class = "align-middle">{{  tmp.unitsInStock}}</td>
        </tr>
    </tbody>
</table>
 -->
